{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="product-page">
  <div class="row">
    <div class="col-lg-6">
      <script>
         jQuery(document).ready(function($){
            $('.product-big-img').slick({
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: false,
              fade: true,
              asNavFor: '.product-thumbs'
            });
            $('.product-thumbs').slick({
              slidesToShow: 3,
              slidesToScroll: 1,
              asNavFor: '.product-big-img',
              dots: false,
              centerMode: true,
              focusOnSelect: true
            });
         });
      </script>
      <div class="product-images">
        <div class="product-big-img">]
          {% for image in product.images %}
          <div class="single-big">
            <a href="{{ image.src | img_url: 'large' }}"><img src="{{ image.src | img_url: 'large' }}" alt="{{ image.src.alt | escape }}" id="ProductPhotoImg"></a>
          </div>
          {% endfor %}
        </div>
        <div class="product-thumbs">
            {% for image in product.images %}
              <div class="single-thumbs">
                <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="single-product-details">
        <h1>{{ product.title }}</h1>
        <h3>{{ current_variant.price | money }}</h3>
        <div>{{ product.description }}</div>

        <div class="single-product-purchase">
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
              <select name="id" id="productSelect">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option value="{{ variant.id }}">
                      {{ variant.title }} - {{ variant.price | money_with_currency }}
                    </option>
                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - sold out
                    </option>
                  {% endif %}
                {% endfor %}
              </select>
              <input type="number" id="Quantity" name="quantity" value="1" min="1"><br>
              <button type="submit" name="add" id="AddToCart">Add to cart</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>



